# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

services:
  front:
    image: trans_front
    build:
      context: ../
      dockerfile: docker/front.Dockerfile
    hostname: ${FRONT_HOST}
    environment:
      - FRONT_HOST
      - FRONT_HTTP_PORT
      - FRONT_HTTPS_PORT
      - BACK_HOST
      - BACK_HTTP_PORT
      - HOST
    networks:
      - net
    ports:
      - 8080:8080
  back:
    image: trans_back
    ports:
      - 3000:3000
    volumes:
      - ../backend/db/:/app/data/:z
    build:
      context: ../
      dockerfile: docker/back.Dockerfile
    hostname: ${BACK_HOST}
    environment:
      - HOST
      - NGINX_HOST
      - BACK_HOST
      - BACK_HTTP_PORT
      - DATABASE_URL
      - JWT_SECRET
      - COOKIES_SECRET
    networks:
      - net
  nginx:
    image: nginx
    ports:
      - 443:443
      - 80:80
    build:
      context: .
      dockerfile: ./nginx.Dockerfile
    hostname: ${NGINX_HOST}
    volumes:
      - ./nginx:/etc/nginx/conf.d/:ro
      - nginx-cert:/etc/nginx/certs/
    environment:
      - HTTPS_NGINX
      - NGINX_HOST
      - BACK_HOST
      - FRONT_HOST
      - HOST
    networks:
      - net

networks:
  net:

volumes:
  sqlite-db:
    driver: local
  nginx-cert:
